<h1>TechMeetups</h1>

  <div>
  <% if session[:user_id] %>
    <%= button_to "Create", new_meetup_path, :method => "get" %>
    <% else %>
    <h4>Login in order to create or attend and event</h4>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Sign Up', new_user_path %>
    <% end %>
  </div>
  

  <%= content_for :upcoming_meetups, @upcoming_meetups %>

<% @meetups.each do |meetup| %>

  <div>
    <%= image_tag meetup.image_url %> <br>
    Title: <%= link_to meetup.title, meetup_path(meetup) %> <br>
    Date-Time:<%= meetup.date_time %><br>
    Description: <%= meetup.description %><br>
    Link: <%= meetup.link %>
  </div>

<% end %>