<h3>Search results</h3>
<% @meetups.each do |meetup| %>
    <%= image_tag meetup.image_url %><br>
    Title: <%= link_to meetup.title, meetup_path(meetup) %> <br>
    Date-Time:<%= meetup.date_time %><br>
    Description: <%= meetup.description %><br>
    Link: <%= meetup.link %>
  
  <% end %>