<h1> Current Event </h1>
Title: <%= @meetup.title %> <br>
Date-Time:<%= @meetup.date_time %><br>
<%= image_tag @meetup.image_url %><br>
Description: <%= @meetup.description %><br>
Link: <%= @meetup.link %>

<br>
<br>

Comments

<hr>

<div>
<%= form_for ([@meetup, @comment]) do |f| %>
  <%=f.text_field :content %>
  <%=f.submit %>
<% end %>
</div>

<hr>
<% @comments.each do |comment| %>
  <li> <%= comment.content %> </li><br>
<% end %>