<h1> Current Event </h1>

<% unless @meetup.passed_event? %>
<% if current_user %>
  <% if current_user.attending_event(@meetup) %>
  <h5 class="fst-italic text-primary">
    <%= "already attending" %>
    </h5>
  <% else %>
    <%= button_to "Attend Meetup", { action: :attend }, :method => :post %> <br>
  <% end %>
<% else %>
<h5 class="fst-italic text-primary">
   Login in order to create or attend and event
  </h5>
<% end %>
<% end %>
<br>


<div class="col">
<div class="card" style="width: 40rem;">

<h5 class="card-title">Title: <%= @meetup.title %> </h5>
Date-Time:<%= @meetup.date_time.strftime("%m-%e-%y %H:%M") %><br>
<%= image_tag @meetup.image_url %><br>
<p class=card-text>Description: <%= @meetup.description %><br></p>
<% if current_user %><p class=card-text>Link: <%= @meetup.link %></p><% end %>

</div>
</div>

<br>
<br>



<article class="blog-post">

<h2 class="blog-post-title">Comments</h2>

<hr>

<% if current_user %>
<div>
<%= form_for ([@meetup, @comment]) do |f| %>
  <%=f.text_field :content %>
  <%=f.submit %>
<% end %>
</div>
<% end %>

<hr>
<% @comments.each do |comment| %>
  <ul>
    <li> <%= comment.content %> </li>
  <i> by:</i> <%= comment.user.first_name%>
  <i> </i> <%= comment.user.last_name.first%>.
  <i> at:</i> <%= comment.created_at.strftime("%m-%e-%y %H:%M")%>
  </ul>
  <% end %>

</article>