<h1> Current Event </h1>
Title: <%= @meetup.title %> <br>
Date-Time:<%= @meetup.date_time %><br>
<%= image_tag @meetup.image_url %><br>
Description: <%= @meetup.description %><br>
Link: <%= @meetup.link %>

<br>
<br>

Comments
<hr>