<h1> Current Event </h1>
Title: <%= @meetup.title %> <br>
Date-Time:<%= @meetup.date_time %><br>
<%= image_tag @meetup.image_url %><br>
Description: <%= @meetup.description %><br>
Link: <%= @meetup.link %>

<br>
<br>

<p>Login in order to post a comment</p>
<%= link_to 'Login', login_path %>
<%= link_to 'Sign Up', new_user_path %>

<h4>Comments</h4>

<hr>

<% if current_user %>
<div>
<%= form_for ([@meetup, @comment]) do |f| %>
  <%=f.text_field :content %>
  <%=f.submit %>
<% end %>
</div>
<% end %>

<hr>
<% @comments.each do |comment| %>
  <li> <%= comment.content %> </li><br>
<% end %>