<h2> User LogIn</h2>

<div class="err"><i> <%= @error %></i> </div>

<%= form_tag('/login', method: :post) do %>

  <div class='mb-3'>
    <%= label_tag(:email, "Your email:", {class: "form-label"}) %>
    <%= email_field_tag(:email, nil ,{class: "form-control"} ) %>
  </div>


  <div class="mb-3">
    <%= label_tag(:password, "Your password:", {class: "form-label"}) %>
    <%= password_field_tag(:password, nil, {class: "form-control"} ) %>
  </div>

  
  <div>
    <%= submit_tag("Log In", {class:"btn btn-primary"}) %>
  </div>

  <div>
    <%= link_to 'Sign Up', new_user_path %>
  </div>


<% end %>

