<h1>Create New User</h1>

<div class="err">

<% if @user.errors.any? %>
    <h2>There are some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
</div>

<%=form_for User.new do |f| %>

  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>


  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>