<!DOCTYPE html>
<html>
  <head>
    <title>Techmeetup</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div>
  <%= form_tag meetups_search_path do %>
  Search <%= text_field_tag :search_text %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>


  <div>
    <h2> Upcoming Events</h2>
      <% Meetup.upcoming_meetups.each do |meetup| %>
        <%= link_to meetup.title, meetup_path(meetup) %><br>
    <%= meetup.date_time %><br>
   <% end %>
</div>
    <%= yield %>
  </body>
</html>
